body{
    font-family: 'Courier New', Courier, monospace;
    background-color:gold;
}
img{
    border:10px double darkorange;
    width:400px;
    height:450px;

}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display: none;
}